@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --blueTitle: rgb(37, 43, 66);
    --grayText: rgb(114, 114, 114);
    --ligthgrayText: rgb(184, 184, 184);
}

.container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    flex-wrap: wrap; /* Permite quebrar de linha */
    justify-content: center; /* Alinha as caixas organizadoras no centro (horizontalmente)*/
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}

.menu-links a, .menu-login a {
    color: rgb(90, 90, 90);
    font-size: 18px;
    text-decoration: none;
    padding: 18px 10px;
    display: inline-block;
    font-weight: bold;
}

.menu-login img {
    width: 16px;
    margin-right: 8px;
}

.title {
    font-size: 22px;
    color: var(--blueTitle);
    text-decoration: none;
    transition: 0.5s;
}
.title:hover {
    color: rgb(35, 166, 240);
    transition: color 0.3s ease-in-out;
}


.menu-links h1 {
    font-size: 24px;
    color: var(--blueTitle);
}

.menu-links li a:hover {
    color: rgb(35, 166, 240);
    transition: 0.3s;
}

.menu-login a {
    color: #26A7F0;
    font-weight: bold;
}

.menu-login a:hover {
    font-weight: bold;
    transition: 0.3s;
    filter: brightness(0.5);
}

.a-active {
    color: #26A7F0 !important;
    font-weight: 500 !important;
}

.carrosel {
    width: 100%;
    position: relative;
    margin: auto;

    img {
        width: 100%;
        height: 700px;
        object-fit: cover;
        filter: brightness(0.6) opacity(1);
    }

    .seta {
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 40%;
        z-index: 5;
    }

    .seta-direita {
        left: 97%;

    }

    .text {
        color: #f2f2f2;
        font-size: 40px;
        padding: 8px 12px;
        position: absolute;
        bottom: 40%;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 40px;
            font-weight: bolder;
            color: white;
        }
        p {
            padding: 20px;
            font-size: 20px;
        }

        button {
            background-color: #26A7F0;
            padding: 12px 18px;
            border: 1px solid #26A7F0;
            border-radius: 6px;
            font-size: 20px;
            color: white;
            transition: 0.4s;
        }

        button:hover {
            background-color: #f0f9ff;
            padding: 12px 18px #26A7F0;
            color: #14567c;
            font-size: 21px;
            transition: 0.4s;
            cursor: pointer;
        }
    }
    
}


/* INTRO PRODUTOS */
.intro-produtos {
    background-color: #FAFAFA;
    padding: 60px 0px; 
}

.intro-produtos .container > div{
    margin: auto;
    width: 30%;
    height: 200px;
    padding: 25px;
    margin: 0px 20px;
    transition: 0.3s;

    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: var(--grayText);
        padding: 0 0 18px 0;
    }
    h1 {
        color: var(--blueTitle);
        font-size: 28px;
    }
    h2 {
        color: var(--blueTitle);
        font-size: 14px;
        padding: 18px 0 0 0;
    }
}

.intro-produtos .container > div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.prod1 {
    background-image: url(../images/sorvete.png);
}
.prod2 {
    background-image: url(../images/maca.png);
}
.prod3 {
    background-image: url(../images/carne.png);
}

/* PRODUTOS */
.produtos {
    .furniture {
        padding: 0;
        width: 33%;
        position: static;
        background-image: url(../images/card-cover.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .f2 {
        background-image: url(../images/card-dunuts.png);
        background-position-x: center; 
    }

    .furniture h1 {
        position: absolute;
        padding: 30px 50px;
        font-size: 16px;
    }
    
    .furniture p {
        position: absolute;
        padding: 30px 50px;
        margin-top: 30px;
        font-size: 14px;
        color: var(--grayText);
    }

    .best-prod {
        width: 66%;
    }

    .best-prod > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px 10px 20px;
        margin: 20px;
    }

    .best-prod .best-prod-nav {
        border-bottom: 2px solid rgb(219, 219, 219);
    }


    .best-prod-nav h1 {
        font-size: 16px;
    }

    .best-prod-nav li {
        padding: 0 18px;
    }
    
    .best-prod-nav li a{
        font-size: 16px;
    }

    .best-prod-nav .btn-prod {
        width: 50px;
    }

    .prod-list {
        text-align: center;
        margin: 0 35px;
    }

    .prod-list > div {
        transition: 0.3s;
    }

    .prod-list > div:hover{
        transform: scale(1.05);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .prod-list img {
        width: 160px;
    }
    
    .prod-list h2 {
        font-size: 15px;
        padding: 15px;
        color: var(--grayText);
    }

    .prod-list p {
        font-size: 15px;
        font-weight: 700;
        padding: 8px;
        color: var(--ligthgrayText);
    }

}

.preco {
    color: rgb(35, 133, 109);
}

/* POPULAR */
.popular{
    margin-top: 100px;

    .pop-image {
        width: 60%;
        background-image: url("../images/entregador.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }

    .i2 {
        background-image: url("../images/mulher.png");
    }

    .pop-produto {
        width: 40%;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 70px;
    }

    .pop-produto .txt-info{
        font-size: 15px;
        padding: 20px;
        color: rgb(126, 126, 126);
        font-weight: 500;
        text-align: center;
    }

    .pop-produto img {
        width: 380px;
        margin: 40px;
    }

    .pop-produto h2 {
        font-size: 15px;
        padding: 15px;
        color: var(--blueTitle);
    }

    .pop-produto p {
        font-size: 15px;
        font-weight: 700;
        padding: 8px;
        color: var(--ligthgrayText);
    }

    .div-sales {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        img {
            width: 18px;
            margin: 0;
        }
        p {
            color: var(--grayText);
        }
    }

}

/* TIPS */

.tips {

    .tip {
        margin: 50px 0px;
        margin-bottom: 70px;
        width: 25%;
        display: flex;
    }

    .tip > div {
        padding: 10px;
    }

    .tip h1 {
        font-size: 40px;
        color: rgb(230, 64, 64);
    }

    .tip h2 {
        font-size: 18px;
        color: var(--blueTitle);
    }

    .tip p {
        padding: 10px 0;
        font-size: 17px;
        color: var(--grayText);
        font-weight: 500;
    }

}

.mais-prod {
    background-color: #FAFAFA;
    margin-top: 50px;

    .best-prod {
        width: 100%;
    }

    .best-prod > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
    
    .best-prod > div > div{
        text-align: left;
    }
    

    .best-prod .best-prod-nav {
        border-bottom: 2px solid rgb(219, 219, 219);
        padding: 30px 0;
    }


    .prod-list {
        text-align: center;
        margin: 0 35px;
    }

    .prod-list > div:hover{
        transform: scale(1.05);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .prod-list img {
        width: 280px;
        padding: 20px 0;
    }
    
    .prod-list h2 {
        font-size: 15px;
        padding: 20px 0;
        color: var(--grayText);
    }

    .prod-list p {
        font-size: 15px;
        font-weight: 700;
        padding: 8px;
        color: var(--ligthgrayText);
    }

    .logos {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
    }

    .logos img:hover {
        transition: 0.3s;
        filter: brightness(0.4);
    }

}

/* POSTS */

.posts {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.posts h1 {
    font-size: 30px;
    color: var(--blueTitle);
    padding: 10px 0 30px 0;
}

.posts h2 {
    font-size: 10px;
    color: #26A7F0;
}

.posts .post {
    width: 30%;
    background-color: #FAFAFA;
    transition: 0.3s;
}

.post {
    text-align: left;
}

.post-nav {
    display: flex;
    justify-content: left;

    p {
        font-size: 10px;
        color: var(--grayText);
        padding-right: 15px; 
    };
}

.post-text {
    width: 90%;
    padding: 20px;
}

.post-text h1 {
    font-size: 20px;
    color: var(--blueTitle);
    padding: 10px 0;
    font-weight: 450;
}

.post-text h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--grayText);
}

.post-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.post-info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-info img {
    width: 15px;
}
.post-info p {
    font-size: 12px;
    padding: 10px 5px;
    color: var(--grayText);
}

.post-learn-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0;
    align-items: end;

    h3 {
        font-size: 13px;
        font-weight: 600;
        color: var(--grayText);
        padding: 20px 5px 0 0;
    }

    img {
        width: 8px;
    }
}




footer {
    background-color: rgb(37, 43, 66);
    color: white;
}

.footer-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-header p {
    padding: 10px 0;
}

.footer-header button {
    background-color: #26A7F0;
    padding: 18px 24px;
    border: 1px solid #26A7F0;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    transition: 0.4s;
}

.footer-header button:hover {
    background-color: #f0f9ff;
    padding: 12px 18px #26A7F0;
    color: #14567c;
    transition: 0.4s;
    cursor: pointer;
}

.footer-section {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-section ul {
    list-style: none;
    text-align: left;
    padding: 10px 0;
}
.footer-section ul li a {
    text-decoration: none;
    color: white;
}

.footer-section ul li {
    width: 120%;
    padding: 8px 0;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: var(--ligthgrayText);
    transition: 0.3s;
}

.footer-section img {
    padding: 0px 10px 0px 0px;
    width: 30px;
}

.copywright {
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copywright img {
    padding: 0 10px;
}

.menu-toggle {
    display: none;
}


/* Celular */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    .menu-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .menu-links{
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .menu-links-mob{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu-links a {
        padding: 15px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }

    .menu-login-mob {
        display: none;
    }

    .menu-toggle {
        display: flex;
        width: 110px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }

    .menu-toggle img {
        width: 24px;
    }

    .menu-links.active, .menu-login.active {
        display: flex;
    }


    .carrosel img {
        height: 600px;
    }

    .intro-produtos .container {
        align-items: center;
    }

    .intro-produtos .container > div {
        width: 350px;
        margin: 10px 10px;
    }

    .produtos .furniture {
        width: 100%;
        background-position: 50%;
        height: 664px; 
        margin: 10px;
    }

    .produtos .prod-list > div {
        img {
            width: 400px;
        }
        width: 100%;
    }

    .produtos .best-prod {
        width: 100%;
    }

    .popular .pop-image, .popular .pop-produto {
        width: 100%;
    }

    .pop-image {
        height: 664px; 
    }

    .tip {
        margin: auto;
    }

    .tips .tip {
        margin-left: 80px;
        width: 70%;
    }

    .best-prod > div {
        display: flex;
        flex-direction: column;
    }

    .best-prod-nav {
        padding: 0px 0;
        height: 100px;
    }

    .prod-list > div, .logos{
        width: 80%;
    }

    .logos{
        text-align: center;
        width: 100%;
        height: 1500px;
        img {
            width: 300px;
            padding: 20px;
        }
    }

    .mais-prod .prod-list img {
        width: 100%;
    }


    .posts {
        width: 100%;
        margin: auto;
        
    }

    .posts .post {
        width: 350px;
        margin: auto;
        justify-content: center;
        margin-top: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }



    .footer-header {
        flex-direction: column;
        padding: 40px 110px;

    }

    .footer-header p {
        padding: 20px 0;
    }

    .footer-header button {
        margin: 20px 0 0 0;
    }

    .footer-section {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .footer-section ul {
        padding: 0px 80px;
    }

    .footer-section ul li {
        padding: 10px 30px;
    }

    .footer-section h2{
        padding: 40px 110px 20px 110px;
    }

    .copywright {
        flex-direction: column;
        text-align: center;
    }

    .copywright img {
        padding: 10px 0;
    }

    
}